html {
	height: 100%;
}

body { 
	padding-top: 0px;
	height: 100%;
}

.header {
	padding-top: 15px;
	padding-left: 10px;
	background-color: #B9F0C1;
	font: 22px times new roman;
	letter-spacing: 0.1em;
	font-weight: bold;
}

.subheader {
	font: 12px times new roman;
	color: #333399;
	letter-spacing: 0.05em;
}

.navbar-iv {
	background-color: #006600;
}

.navbar {
	min-height:20px;
}

.navbar-iv .nav > li > a {
	color: #ffffff;
	font: 12px arial;
	padding-top:7px; padding-bottom:7px;
}

.navbar-iv .nav > li > a:hover {
	color: #B5FFB0;
}

.mainbody {
	height: 100%;
}
.sidebar {
	height: 100%;
	background-color: #ffffcc;
}

.headertext {
    font:16px times new roman;
    color: #555555;
    line-height:22px;
    font-weight:bold;
}

.subHeader {
	font:14px times new roman;
	color: #336600;
	font-weight:bold;
	line-height:20px;
	letter-spacing:0.1em;
	}
.smalltext {
    font:12px times new roman;
    color: #555555;
    line-height:18px;
}
.bodyText {
	font:12px arial;
	color:#333333;
	line-height:24px;
}

.bodyText a {
	color: #3939C6;
	text-decoration:none;
	font-weight:bold;
}

.faq-q {
	font:14px times new roman;
	color: #336600;
	font-weight:bold;
	line-height:20px;
	letter-spacing:0.1em;
}
	
a:hover {
	color: #003366;
/*text-decoration:underline; */
	}
	
div.outline {
  border: 1px solid #808080;
  padding: 0px;
  background: white;
}

.red {color:red;
	font-size:14px;
	font-weight:bold;
} 
.green {color:green;
	font-size:14px;
	font-weight:bold;
}
.orange {color:orange;
	font-size:14px;
	font-weight:bold;
	}
.blue {color:blue;
	font-size:14px;
	font-weight:bold;
	}   

.pageName {
	font:20px arial;
	color: #1F1A80;
	letter-spacing:0.1em;
	line-height:26px;
}

input[type=file] {
	display: inline;
}

.circularIslandpick {
	fill: green;
}
.circularIslandpick:hover {
	fill: blue;
}
.circularSigi {
	fill: orange;
}
.circularSigi:hover {
	fill: blue;
}
.circularDimob {
	fill: blue;
}
.circularDimob:hover {
	fill: yellow;
}
.circularIntegrated {
	fill: red;
}
.circularIntegrated:hover {
	fill: blue;
}

.circularGCPlot {
	stroke: black;
}
.circularGCPlot_circle {
	stroke: lightblue !important;
}

.circularVirulence_VFDB {
	stroke: black;
	fill: purple;
	color:purple;
	font-size:14px;
	font-weight:bold;
}

.circularVirulence_ARDB {
	stroke: black;
	fill: yellow;
	color:yellow;
	font-size:14px;
	font-weight:bold;	
}

.circularVirulence_PAG {
	stroke: black;
	fill: orange;
	color:orange;
	font-size:14px;
	font-weight:bold;
	
}

.circularGenes_pos {
    fill: darksalmon;
    stroke-width: 1;	
}
.circularGenes_pos:hover {
	fill:  #d1876d;
}
.circularGenes_pos_group:hover rect {
		fill:  #d1876d;
}

.circularGenes_pos_zoomed {
	stroke: #fff;
    stroke-opacity: 0.8;
    stroke-width: 1;	
}
.circularGenes_neg {
    fill: darkolivegreen;
    fill-opacity: .7;
    stroke-width: 1;	
}
.circularGenes_neg:hover {
	fill: #4c602a;
}
.circularGenes_neg_group:hover rect {
	fill: #4c602a;
}
.circularGenes_neg_zoomed {
    fill-opacity: .7;
    stroke-width: 1;
    stroke: #fff;
}
.circularGenes_text {
    fill: white;
    font-weight: bold;
    font: 12px arial;
    pointer-events: none;
}

.d3-tip {
  line-height: 1;
  font: 12px arial;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.polarbrush {
    fill: lightgrey;
    opacity: 0.5;
}
.brushEnd {
    fill: "red";
}

.brushStart {
    fill: "green";
}
.linear_hidden {
	visibility: hidden;
}


/* Section for GI tables */
.gitable .odd.method0 {
	background-color: #E8606A !important;	
}
.gitable .even.method0 {
	background-color: #ED8088;	
}
.gitable .method0:hover {
	opacity:.75;
}
.gitable a {
		font-weight:bold;
		color: #3939C6;
}
.gitable .method1 {
	background-color: #9FF793;
}
.gitable .method1:hover {
		opacity:.75;
}
.gitable .method2 {
	background-color: #FFB76F;
}
.gitable .method2:hover {
		opacity:.75;
}
.gitable .method3 {
	background-color: #A6C5F9;
}
.gitable .method3:hover {
		opacity:.75;
}

/* Section for popup list of genes */
.hidden>div {
	display: none;
}
.visible>div {
	display:block;
}

/* Section for download expand/collapse */

.toggle {
    padding-left: 25px;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url("../img/details_open.png");
}

.toggle.expanded {
    padding-left: 25px;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url("../img/details_close.png");
}

.chosen-container { width: 150px !important; }

.downloadtable {
    vertical-align: top;
    padding: 7px;
}

/* Section for the run summary table */

.summarytable .Complete {
	color: green;
}
.summarytable .Error {
	color: red;
}
.summarytable .Pending {
	color: yellow;
}
.summarytable .Running {
	color: orange;
}

/* Section for pipeline graph */



.node rect {
  stroke: #999;
  stroke-width: 1px;
  fill: #fff;
}

.node.Complete rect {
  stroke: #999;
  stroke-width: 1px;
  fill: lightblue;
}
.legend.Complete {
	font-size:15px; 
	padding-left:15px; 
	border:1px solid lightblue;
	background-color: lightblue; 
	overflow:hidden;
}
.node.Error rect {
  stroke: #999;
  stroke-width: 1px;
  fill: red;
}
.legend.Error {
	font-size:15px; 
	padding-left:15px; 
	border:1px solid red;
	background-color: red; 
	overflow:hidden;
}
.node.Running rect {
  stroke: #999;
  stroke-width: 1px;
  fill: lightgreen;
}
.legend.Running {
	font-size:15px; 
	padding-left:15px; 
	border:1px solid lightgreen;
	background-color: lightgreen; 
	overflow:hidden;
}
.node.Pending rect {
  stroke: #999;
  stroke-width: 1px;
  fill: lightyellow;
}
.legend.Pending {
	font-size:15px; 
	padding-left:15px; 
	border:1px solid black;
	background-color: lightyellow; 
	overflow:hidden;
}

.edgeLabel rect {
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}
