{% extends "base.html" %}
{% load static %} 

{% block content %}
<p class="pageName">Acknowledgements</p>

<p class="bodyText">We would appreciate that anyone who uses IslandViewer to cite:</p>
		  
		  <blockquote class="bodyText">
		    Langille, M.G.I. and F.S.L.       Brinkman (2009). &ldquo;IslandViewer: an       integrated interface for computational identification and visualization of       genomic islands&rdquo;, <em>Bioinformatics</em>,       Jan. 16 (EPub). <a href="http://www.ncbi.nlm.nih.gov/pubmed/19151094" target="_blank">PMID: 19151094</a>
		  </blockquote>

<p class="bodyText">In addition, depending on the resources used, we would encourage the acknowledgement of one or more of the following resources:</p>
		  
<ul class="bodyText">
  <li>SIGI-HMM (<a href="http://www.biomedcentral.com/1471-2105/7/142" target="_blank">Waack et al., 2006</a>) </li>
  <li>IslandPath-DIMOB (<a href="http://bioinformatics.oxfordjournals.org/content/19/3/418.short" target="_blank">Langille et al., 2008</a>) </li>
  <li>IslandPick (<a href="http://www.biomedcentral.com/1471-2105/9/329" target="_blank">Langille et al., 2008</a>)</li>
  <li>Virulence Factor Database - <a href="http://www.mgc.ac.cn/VFs/" target="_blank">VFDB</a> - (<a href="http://nar.oxfordjournals.org/content/40/D1/D641.full" target="_blank">Chen et al., 2012</a>)</li>
  <li>Antibiotic Resistance Gene Database - <a href="http://ardb.cbcb.umd.edu/" target="_blank">ARDB</a> - (<a href="http://nar.oxfordjournals.org/content/37/suppl_1/D443.long" target="_blank">Liu et al., 2009</a>)</li>
  <li>Pathogen-associated genes - <a href="http://www.pathogenomics.sfu.ca/pathogen-associated/" target="_blank">Datasets</a> - (<a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0008094" target="_blank">Ho Sui et al., 2009)
</ul>
{% endblock content %}
