{% extends "base.html" %}
{% load static %} 

{% block content %}
<p class="pageName">Acknowledgements</p>

<p class="bodyText">We would appreciate that anyone who uses IslandViewer to cite:</p>
		  
   <blockquote class="bodyText" style="border-left: none;">
     Dhillon, B.K., Laird, M.R., Shay, J.A., Winsor, G.L., Lo, R., Nizam, F., Pereira, S.K., Waglechner, N., McArthur A.G., Langille, M.G.I., and Brinkman, F.S.L. (2015). "IslandViewer 3: more flexible, interactive genomic island discovery, visualization and analysis", Nucleic Acids Research (in press)
   </blockquote>
   
  		  <blockquote class="bodyText" style="border-left: none;">
  		    Dhillon, B.K., Chiu, T.A., Laird, M.R., Langille, M.G.I., and Brinkman, F.S.L. (2013). “IslandViewer update: improved genomic island discovery and visualization“, Nucleic Acids Research, 41(Web server issue):W129-132. <a href="http://www.ncbi.nlm.nih.gov/pubmed/23677610" target="_blank">PMID: 23677610</a>
		  </blockquote>
		
		  <blockquote class="bodyText" style="border-left: none;">
		    Langille, M.G.I. and F.S.L.       Brinkman (2009). &ldquo;IslandViewer: an       integrated interface for computational identification and visualization of       genomic islands&rdquo;, <em>Bioinformatics</em>,       Jan. 16 (EPub). <a href="http://www.ncbi.nlm.nih.gov/pubmed/19151094" target="_blank">PMID: 19151094</a>
		  </blockquote>

<p class="bodyText">In addition, depending on the resources used, we would encourage the acknowledgement of one or more of the following resources:</p>
		  
<ul class="bodyText">
  <li>SIGI-HMM (<a href="http://www.biomedcentral.com/1471-2105/7/142" target="_blank">Waack et al., 2006</a>) </li>
  <li>IslandPath-DIMOB (<a href="http://bioinformatics.oxfordjournals.org/content/19/3/418.short" target="_blank">Langille et al., 2008</a>) </li>
  <li>IslandPick (<a href="http://www.biomedcentral.com/1471-2105/9/329" target="_blank">Langille et al., 2008</a>)</li>
  <li>Mauve (<a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0011147">Darling et al. 2010</a>; <a href="http://bioinformatics.oxfordjournals.org/content/25/16/2071.full">Rissman et al., 2009</a>)</li>
  <li>Virulence Factor Database - <a href="http://www.mgc.ac.cn/VFs/" target="_blank">VFDB</a> - (<a href="http://nar.oxfordjournals.org/content/40/D1/D641.full" target="_blank">Chen et al., 2012</a>)</li>
  <li>PATRIC (<a href="http://nar.oxfordjournals.org/content/42/D1/D581.long" target="_blank">Wattam et al., 2014</a>)</li>
  <li>Victor's virulence factors (<a href="http://www.phidias.us/victors/">http://www.phidias.us/victors/</a>)</li>
  <li>Comprehensive Antibiotic Resistance Database (<a href="http://aac.asm.org/content/57/7/3348.long" target="_blank">McArthur et al., 2013</a>)</li>
  <li>Pathogen-associated genes - <a href="http://www.pathogenomics.sfu.ca/pathogen-associated/" target="_blank">Datasets (<a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0008094" target="_blank">Ho Sui et al., 2009</a>)</a></li>
</ul>
{% endblock content %}
