{% extends "base.html" %}
{% load static %} 

{% block headextras %}
<link href="{% static 'js/select2-3.4.5/select2.css' %}" rel="stylesheet">
<link href="{% static 'js/select2-3.4.5/select2-bootstrap.css' %}" rel="stylesheet">
<script src="{% static 'js/select2-3.4.5/select2.js' %}"></script>
<link href="{% static 'js/chosen/chosen.min.css' %}" rel="stylesheet">
<script src="{% static 'js/chosen/chosen.jquery.min.js' %}"></script>

{% endblock %}

{% block sidebar %}
<span class="smalltext">
Please select a genome from the list. 
Use the search box to bring matching genomes to the top of the list.
</span>
{% endblock %}

{% block content %}
<div style="height: 500px; width: 400px;">
<span class="pageName">IslandViewer</span><br />
&nbsp;<br />
&nbsp;<br />
<select id="genomelist" class="chosen-select extraclass" style="width:550px;" data-placeholder="Select a genome...">
<option></option>
{% for genome in analysis %}
<option value="{{ genome.ext_id }}">{{ genome.name }} ({{ genome.ext_id }})</option>
{% endfor %}
</select><br /> 
&nbsp;<br />
<input id="gotoresults" type="button" value="Go to Genome" onclick="return goto_results()" />
<script type="text/javascript">
    $(window).ready(function() {
		$(".chosen-select").chosen({disable_search_threshold: 10, no_results_text: "Oops, no genomes matching that name!", search_contains: true});
	});
	
    //$("#genomelist").select2();
    
    function goto_results()
    {
    	if(!($("#genomelist").val())) {
    		return;
    	}
 
    	var url = "{% url "resultsbyaccnum" 'NC11111.1' %}".replace('NC11111.1', $("#genomelist").val());
    	window.location = url;
    	
    }
</script>
</div>
{% endblock content %}
