{% extends "base.html" %}
{% load static %} 

{% block headextras %}
<link href="{% static 'js/select2-3.4.5/select2.css' %}" rel="stylesheet">
<link href="{% static 'js/select2-3.4.5/select2-bootstrap.css' %}" rel="stylesheet">
<script src="{% static 'js/select2-3.4.5/select2.js' %}"></script>

{% endblock %}

{% block sidebar %}
<span class="smalltext">
Please select a genome from the list. 
Use the search box to bring matching genomes to the top of the list.
</span>
{% endblock %}

{% block content %}
<span class="pageName">IslandViewer</span><br />
&nbsp;<br />
&nbsp;<br />
<select id="genomelist">
{% for genome in analysis %}
<option value="{{ genome.aid }}">{{ genome.name }} ({{ genome.ext_id }})</option>
{% endfor %}
</select><br /> 
&nbsp;<br />
<input id="gotoresults" type="button" value="Browse Results" onclick="return goto_results()" />
<script type="text/javascript">
    $("#genomelist").select2();
    
    function goto_results()
    {
    	var url = "{% url "results" 999 %}".replace(999, $("#genomelist").val());
    	window.location = url;
    	
    }
</script>
{% endblock content %}
