<span class="bodyText">
<p>We only accept user genomes that are formatted in EMBL or GENBANK format.</p> 
<p>For published genomes please see <a href="{% url 'browse' %}">pre-computed results</a>. </p>
<p>Uploaded genomes and GI predictions will not be visible to other users of IslandViewer and will be available for at least 1 month. </p>
</span>
<br />
<div id="cite" class="outline"><span class="bodyText">If you use IslandViewer for your research, please cite the most recent publication: <br /> Dhillon, B.K. et al. 2015. <br /> "IslandViewer 3: more flexible, interactive genomic island discovery, visualization and analysis" <br /> <i>Nucleic Acids Research</i>, 43 (W1): W104-W108. <br /> <a href="http://nar.oxfordjournals.org/content/43/W1/W104.full" target="_blank">doi: 10.1093/nar/gkv401</a></span></div>

                                             
