{% extends "base.html" %}
{% load static %} 

{% block headextras %}

{% endblock headextras %}

{% block sidebar %}
{% include "uploadsidebar.html" %}
{% endblock %}

{% block content %}
<script type="text/javascript">
function submitGenome() {
		document.getElementById('Upload').style.display = 'none';
		document.getElementById('submitted').style.display = '';
	}
</script>
<span class="pageName">Genome Upload</span>
<span class="bodyText">
<p>Genomic island predictions can be calculated for your genome using IslandPick, IslandPath-DIMOB, and SIGI-HMM. <a href="{% url 'about' %}">More Information</a>. <a href="{% url 'faq' %}">See our FAQs</a></p>
<p class="bodyText">Examples of genome files you should submit:
			<a href="http://www.pseudomonas.com/downloads/pseudomonas/genbank/NC_002516.gbk">GENBANK</a>, 
			<a href="http://www.pseudomonas.com/downloads/pseudomonas/embl/NC_002516.embl">EMBL</a>.
</p>

<form action="{% url 'uploadform' %}" method="POST" enctype="multipart/form-data" name="genome_upload" id="genome_upload">
{% csrf_token %}
{% if error %}{{ error|safe }}{% endif %}
<p>{{ form.genome_file }}{{ form.format_type }}</p>
              
	                  

<p>
   {{ form.genome_name.label_tag }} {{ form.genome_name }}
</p>

<p>
   {{ form.email_addr.label_tag }} {{ form.email_addr }}
</p>

<p><div id="submitted" style="display: none;"><img  src="{% static 'img/spinning_wheel.gif' %}" /></div>
<input name="Upload" type="submit" id="Upload" value="Upload" onClick="submitGenome();" />
		    (this may take several minutes) </p>
</form>	


{% comment %}Help hints section{% endcomment %}
<hr>

<script type="text/javascript">
	window.onload=function() { initPage(); };

	function initPage() {
		document.getElementById('hint').style.display = 'none';
		document.getElementById('hideHint').style.display = 'none';
		document.getElementById('submitted').style.display = 'none';
	}
	function showHint() {
		document.getElementById('showHint').style.display = 'none';
		document.getElementById('hideHint').style.display = '';
		document.getElementById('hint').style.display = '';
	}
	function hideHint() {
		document.getElementById('showHint').style.display = '';
		document.getElementById('hideHint').style.display = 'none';
		document.getElementById('hint').style.display = 'none';
	}
	function changeFileType() {
		var fileType = document.getElementById('id_format_type');
		if (fileType.options[fileType.selectedIndex].value == "GENBANK") {
			document.getElementById('gbk').style.display = '';
			document.getElementById('embl').style.display = 'none';
		} else if (fileType.options[fileType.selectedIndex].value == "EMBL") {
			document.getElementById('gbk').style.display = 'none';
			document.getElementById('embl').style.display = '';
		}
	}
	function submitGenome() {
		document.getElementById('Upload').style.display = 'none';
		document.getElementById('submitted').style.display = '';
	}
</script>

		<p id="hideHint"><b>Hints for a successful analysis</b></p>
		<div id="hint2">
		  <p>Check and see if your genome file contains protein sequences for all CDSs <u>AND</u> the complete nucleotide sequence. A valid genome file should have full protein sequence data (under "\translation" tag within "CDS" primary tag) and nucleotide sequence data under ORIGIN or blank header in GENBANK or EMBL format, respectively. For example:</p>
		    <span id="gbk">
		      <p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CDS&nbsp;&nbsp;&nbsp;complement(4043..4849)<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;............................<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="red">/translation</span>="MTATFTAIPAEALRLTDLIDAVAERQRKDFGH....
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;............................<br />
			<span class="red">ORIGIN</span><br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="red">1 aaacaaacca aatatggatt ttattgtagc </span>.......................<br />
		      </p>
		      <p>
			Please refer to the official <a href="http://www.ncbi.nlm.nih.gov/Sitemap/samplerecord.html" target="_blank">GenBank</a> documentation for more details.
		      </p>
		      <p>
			If you are still having problems, see our <a href="http://www.pathogenomics.sfu.ca/islandviewer/faq.php">FAQs</a>.
		      </p>
		    </span>
		    <span id="embl" style="display:none">
		      <p>
			FT&nbsp;&nbsp;&nbsp;CDS&nbsp;&nbsp;&nbsp;complement(4043..4849)<br />
			FT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;............................<br />
			FT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="red">/translation</span>="MTATFTAIPAEALRLTDLIDAVAERQRKDFGH....
			....&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;............................<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="red">aaacaaacca aatatggatt ttattgtagc </span> .......... .... .... .... .... .... .......... <span class="red"> 60</span><br />
		      </p>
		      <p>
			Please refer to the official <a href="http://www.ebi.ac.uk/embl/Documentation/User_manual/usrman.html">EMBL</a> documentation for more details.
		      </p>
		      <p>
			If you are still having problems, see our <a href="http://www.pathogenomics.sfu.ca/islandviewer/faq.php">FAQs</a>.
		      </p>
		    </span>
		</div>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p><br />
		    </p></td>
		</tr>
	</table>	</td>
	<td width="40">&nbsp;</td>
	<td width="100%">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="{% static 'img/spacer.gif' %}" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr>
	<td colspan="6">&nbsp;</td>
	</tr>


	<tr bgcolor="#003399">
	<td colspan="6"><img src="{% static 'img/spacer.gif' %}" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr>
	<td colspan="6"><img src="{% static 'img/spacer.gif' %}" alt="" width="1" height="2" border="0" /></td>
	</tr>

	<tr bgcolor="#003399">
	<td colspan="6"><img src="{% static 'img/spacer.gif' %}" alt="" width="1" height="1" border="0" /></td>
	</tr>


	<tr>
	<td width="15">&nbsp;</td>
	<td width="215">&nbsp;</td>
	<td width="50">&nbsp;</td>
	<td width="440">&nbsp;</td>
	<td width="40">&nbsp;</td>
	<td width="100%">&nbsp;</td>
	</tr>
</table>
</span>
{% endblock content %}
